body {
  font-family: "Open Sans", "Segoe UI", sans-serif;
}

.skill-tags span {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 0 8px;
  border: 1px solid #24293093;
  border-radius: 5px
}