:root {
  --primary: #1d1926;
  --secondary: #241f31;
}

.app-header {
    background-color: #292d32;
    border-right: 1px solid #202327;
    border-bottom: 1px solid #202327;
    color: #fff;
}

.app-header a {
  border: none;
  color: #d1dde5;
}

.app-header-avatar {
  border-width: 0.2rem;
  border-color: #d1dde5;
}

body {
  font-family: "Open Sans", "Segoe UI", sans-serif;
  background-color: #32373d;
  color: #d1dde1;
}

h1, h2, h3, h4, h5, h6, .post-title {
  color: #fff;
}

h3 {
  font-size: 1.4rem;
}

.post-title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: .5rem;
}

.post-footer {
  padding: 0.5rem 0;
  border-top: 1px solid inherit;
  margin-top: 2.5rem;
}

.skill-tags span {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 0 8px;
  border-radius: 5px;
  background: #292d32;
  border: 1px solid #202327;
}

.posts-list-item-title {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.posts-list-item-description {
  margin-top: .5rem;
}

.posts-list-item-description,
.post .post-meta {
  opacity: 0.4;
}

ul.posts-list {
  margin-top: 0;
}

.post-content>pre {
  background-color: #292d32;
  display: block;
  width: 100%;
  border-radius: 5px;
  line-height: 1.5rem;
  border: 1px solid #202327;
  border-left-color: #d1dde1;
  border-left-width: 5px;
  margin: 1.5rem 0;
}

pre code {
  font-family: "Source Code Pro", "Ubuntu Mono", "Noto Sans Mono", monospace;
  font-size: 1rem;
  color: #fff;
}

code {
  color: inherit;
}

a {
  color: inherit;
  border-bottom: 1px dotted #d1dde5;
}

a:hover {
  color: unset;
}

.post-content img {
  border: 5px solid #292d32;
  border-radius: 5px;
}

.half-opacity {
  opacity: .5;
}