body {
    background-attachment: fixed;
    background-color: #e1e6e1;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-repeat: repeat, repeat-x;
    background-size: 128px 128px, cover;
}
.profile-image {
    border-radius: 20px;
    border: 5px solid #4a6277;
}

.tech-tags {
    display: block;
    margin-bottom: 10px;
}

footer ul li a .svg-inline--fa {
    height: 8em;
    width: 8em;
}

.blog-post-header h2 {
    padding-bottom: 30px;
}

.blog-post-body img.w-100 {
    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #655773;
}

.overview-section .item-title {
    color: #444;
}

.skill h3.item-title {
    margin-top: 10px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
}

.item-inner .fab, .fa-html5, .fa-css3-alt {
    color: #adadad
}

.tags .badge {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

@media (max-width: 991px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100000;
    }

    .main-wrapper {
        margin-top: 80px;
    }

    .custom-blog-post-header {
        margin-bottom: 30px;
    }

    .card-title {
        margin-bottom: 0.1rem;
        margin-top: 1.2rem;
    }
}

.psn-id-badge {
    max-width: 170px;
}

.main-wrapper {
    background: transparent;
}

.header {
    background-image: url(../images/overlay.png), linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-size: 128px 128px, auto;
    background-color: #353865;
    border-right: 3px solid #4e4258;
}

.header::-webkit-scrollbar {
    background-color: transparent;
}

.header ul.social-list a {
    color: #44416f;
}

.header .nav-item .nav-link:hover {
    color: rgba(255,255,255,0.6);
}

.btn {
    background: linear-gradient(40deg,#ff6ec4,#7873f5);
    border: none;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.project-card, .project-meta {
    background: transparent;
    box-shadow: 0 1px 11px 0 rgba(0,0,0,0.08), 0 4px 15px 0 rgba(0,0,0,0.08);
}

.project-meta {
    margin-bottom: 20px;
}

.header #navigation .btn {
    background-image: url(../images/overlay.png), linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
    background-size: 128px 128px, auto;
    color: white;
}

.w-90 {
    width: 90%;
}