.profile-image {
    border-radius: 20px;
    border: 5px solid #4a6277;
}

.tech-tags {
    display: block;
    margin-bottom: 10px;
}

footer ul li a .svg-inline--fa {
    height: 8em;
    width: 8em;
}

.blog-post-header h2 {
    padding-bottom: 30px;
}

.blog-post-body img.w-100 {
    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #577188;
}

.overview-section .item-title {
    color: #444;
}

.skill h3.item-title {
    margin-top: 10px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
}

.item-inner .fab, .fa-html5, .fa-css3-alt {
    color: #adadad
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background-color: crimson;
  color: white;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid crimson;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

ul.tags li a:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 991px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100000;
    }

    .main-wrapper {
        margin-top: 80px;
    }

    .custom-blog-post-header {
        margin-bottom: 30px;
    }

    .card-title {
        margin-bottom: 0.1rem;
        margin-top: 1.2rem;
    }
}