html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(220, 220, 220);
}

p {
    color: rgb(170, 170, 170);
}

h1,
h4 {
    font-weight: normal;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
}

div.container {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1% 5%;
    border-radius: 20px;
    animation: focus 3s;
}

@keyframes focus {
    0% {
        filter: blur(10px);
    }

    25% {
        filter: blur(6px);
    }

    50% {
        filter: blur(1px);
    }

    75% {
        filter: blur(2px);
    }

    100% {
        filter: blur(0);
    }
}

div.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

div.icons-container img {
    filter: contrast(200%);
}

div.icons-container a:nth-child(2) {
    margin: 0 1.5rem;
}