:root {
  --vp-font-family-base: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --vp-c-bg: #fcfcfc;
}

body, footer {
  background-image: url(/images/bg.png);
  background-color: #f9f9f9 !important;
  background-blend-mode: overlay;
}

header {
  max-width: 784px;
  margin: 0 auto !important;
  position: relative !important;
}

header a.title span {
  font-family: "Segoe Script", cursive;
}

footer a {
  text-decoration: none;
}

footer .message {
  opacity: .8;
}

footer .copyright {
  opacity: .3;
}

.VPContent {
  padding-top: 0 !important;
}

.VPDoc {
  padding: 0 24px 36px !important;
}

@media (min-width: 960px) {
  .VPDoc {
    padding: 0 32px 0 !important;
  }

  div.content {
    padding: 0 32px 36px !important;
  }
}