:root {
  --vp-font-family-base: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  max-width: 784px;
  margin: 0 auto !important;
  position: relative !important;
}

.VPContent {
  padding-top: 0 !important;
}

.VPDoc {
  padding: 12px 24px 96px !important;
}

@media (min-width: 960px) {
  .VPDoc {
      padding: 24px 32px 0 !important;
  }
}